body {
    background: black;
    color: white;
}

#cordOut {
    height:600px;
    width:250px;
}

#cordOut li:hover {
    background: #333;
}

.cordBar {
    position:absolute;
    top:5px;
    right:5px;
    border:1px dashed white;
    overflow:auto;
}

#demoCanvas {
    display:block;
    border:1px dashed white;
}

.importExportOutput {
    width:500px;
    height:300px;
    background:#000;
    color: #FFF;
}